<div class="profile">
  <h4 class="title">Profile</h4>
  <div class="snowBlock fullHeight">
    <div class="headBG"></div>
    <div class="flex">
      <div class="flex-left">
        <div class="profilePhotoContainer">
          <div class="profilePhoto">
            
          </div>
        </div>
      </div>
      <div class="flex-body">
        <div class="flex-head">
          <div class="flex-head-left">
            <h4 class="heading">ABC Shipping Company</h4>
            <small>Shipper Name: Jack Doe</small>
          </div>
          <div class="flex-head-right">
            <div class="RefNo">Ref No.:
              <span>GZYPIF4D</span>
            </div>
          </div>
        </div>
        <div class="flex-body-space">
          <div class="form-block">
            <h5 class="heading">Load Information</h5>
            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Origin Address</label>
                <input type="text" name="" value="" class="input">
              </div>
              <div class="frm">
                <label for="" class="small-label">Destination Address</label>
                <input type="text" name="" value="" class="input">
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Origin</label>
                <div class="select">
                  <select name="" class="input" id="">
                    <option value="0">City, State</option>
                    <option value="1">Origin</option>
                  </select>
                  <i class="arrow gray down"></i>
                </div>
              </div>
              <div class="frm">
                <label for="" class="small-label">Destination</label>
                <div class="select">
                  <select name="" class="input" id="">
                    <option value="0">City, State</option>
                    <option value="1">Destination</option>
                  </select>
                  <i class="arrow gray down"></i>
                </div>
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Pick Up Date</label>
                <div class="select">
                  <input type="text" name="" value="" class="input">
                  <i class="arrow gray down"></i>
                </div>
              </div>
              <div class="frm">
                <label for="" class="small-label">Drop Off Date</label>
                <div class="select">
                  <input type="text" name="" value="" class="input">
                  <i class="arrow gray down"></i>
                </div>
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Pick Up Time Range</label>
                <div class="inner-inline">
                  <div class="inner-frm inner-frm-full">
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">From time</option>
                        <option value="1">From time 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                  <div class="inner-frm inner-frm-full">
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">To time</option>
                        <option value="1">To time 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frm">
                <label for="" class="small-label">Drop Off Time Range</label>
                <div class="inner-inline">
                  <div class="inner-frm inner-frm-full">
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">From time</option>
                        <option value="1">From time 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                  <div class="inner-frm inner-frm-full">
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">To time</option>
                        <option value="1">To time 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="form-block">
            <h5 class="heading">Additional Information</h5>
            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Distance</label>
                <input type="text" name="" value="" class="input">
              </div>
              <div class="frm">
                <label for="" class="small-label">Equipment Type</label>
                <div class="select">
                  <select name="" class="input" id="">
                    <option value="0"></option>
                    <option value="1">Equipment Type 1</option>
                  </select>
                  <i class="arrow gray down"></i>
                </div>
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm">
                <div class="inner-inline">
                  <div class="inner-frm inner-frm-full">
                    <label for="" class="small-label">No. Loads </label>
                    <input type="text" name="" value="" class="input">
                  </div>
                  <div class="inner-frm inner-frm-full">
                    <label for="" class="small-label">Load Available Daily </label>
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">Yes/No</option>
                        <option value="1">Yes/No 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frm">
                <div class="inner-inline">
                  <div class="inner-frm inner-frm-full">
                    <label for="" class="small-label">Load Size</label>
                    <div class="select">
                      <select name="" class="input" id="">
                        <option value="0">TL/LTL</option>
                        <option value="1">TL/LTL 1</option>
                      </select>
                      <i class="arrow gray down"></i>
                    </div>
                  </div>
                  <div class="inner-frm inner-frm-full">
                    <label for="" class="small-label">Weight
                      <span>(lbs)</span>
                    </label>
                    <input type="text" name="" value="" class="input">
                  </div>
                </div>
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Price
                  <span>($ per mile)</span>
                </label>
                <input type="text" name="" value="" class="input">
              </div>
              <div class="frm">
                <label for="" class="small-label">Rate
                  <span>($ per mile)</span>
                </label>
                <input type="text" name="" value="" class="input">
              </div>
            </div>

            <div class="frm-inline">
              <div class="frm frm-full">
                <label for="" class="small-label">Shipper’s Instructions </label>
                <textarea name="" id="" cols="30" rows="10" class="input" placeholder="e.g. Maintain product temperature to 40°C throughout. Trailer must be in good hygeinic condition."></textarea>
              </div>
            </div>

          </div>

          <div class="form-block">
            <h5 class="heading">Contact Information</h5>
            <div class="frm-inline">
              <div class="frm">
                <label for="" class="small-label">Contact Name</label>
                <input type="text" name="" value="" class="input">
              </div>
              <div class="frm">
                <label for="" class="small-label">Phone Number</label>
                <input type="text" name="" value="" class="input">
              </div>
              <div class="frm">
                <label for="" class="small-label">Email Address</label>
                <input type="text" name="" value="" class="input">
              </div>
            </div>
          </div>

          <div class="frm">
            <button type="button" name="button" class="button">Create the Load</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>