<div class="authContainer">
  <div class="wrap">
    <h2 class="heading">Hywy
      <span>Haul</span>
    </h2>
    <div class="form-content form-forgot">
      <div class="form-header aligncenter">
        <h4 class="title">Password Reset</h4>
        <p>Please provide your email. We will send you instructions on how to reset your password.</p>
      </div>
      <form class="form" action="index.html" method="post">
        <label for="" class="label">Email Address</label>
        <div class="frm">
          <input type="text" name="" value="" class="input">
        </div>
        <div class="frm aligncenter">
          <button type="button" name="button" class="button full-button">Reset Password</button>
        </div>
        <div class="aligncenter">
          <a href="javascript:void(0)" routerLink="/login" class="linkButton">Return to Sign In</a>
        </div>
      </form>
    </div>
  </div>
</div>