<div class="load-list">
  <h4 class="title">Load List</h4>
  <div class="hederTabing">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#searchTab" role="tab" aria-controls="search" aria-selected="true">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="recent-tab" data-toggle="tab" href="#recentTab" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="searchTab" role="tabpanel" aria-labelledby="search-tab">
        <div class="form-block">
          <div class="form-row">
            <div class="form-col">
              <label class="small-label" for="">Origin</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0"></option>
                  <option value="1">City</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
            <div class="form-col">
              <label class="small-label" for="">Destination</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0"></option>
                  <option value="1">City</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
            <div class="form-col">
              <label class="small-label" for="">Pick Up Date</label>
              <input type="text" name="" value="" class="input">
            </div>
            <div class="form-col number-col">
              <label class="small-label" for="">Load Number</label>
              <input type="text" name="" value="" class="input">
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <div class="form-row">
                <div class="form-col">
                  <label class="small-label" for="">Load Size</label>
                  <div class="select">
                    <select name="" class="input" id="">
                      <option value="0">TL/LTL</option>
                      <option value="1">TL/LTL 1</option>
                    </select>
                    <i class="arrow gray down"></i>
                  </div>
                </div>
                <div class="form-col">
                  <label class="small-label" for="">Weight
                    <span>(lbs)</span>
                  </label>
                  <input type="text" name="" value="" class="input">
                </div>
              </div>
            </div>
            <div class="form-col">
              <label class="small-label" for="">Dispatcher</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0">Any</option>
                  <option value="1">Any 1</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
            <div class="form-col">
              <label class="small-label" for="">&nbsp;</label>
              <button type="button" name="button" class="button marginNull">Find The Loads</button>
            </div>
            <div class="form-col number-col"></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="recentTab" role="tabpanel" aria-labelledby="recent-tab"></div>
    </div>
  </div>
  <div class="listing-container">
    <div class="listing-head">
      <div class="listing-headLeft">
        <div class="listing-inline">
          <p>Loads to haul from </p>
          <ul class="breadcrumbs">
            <li>
              <a href="javascript:void(0)">Anywhere</a>
            </li>
            <li>Anywhere</li>
          </ul>
        </div>
        <p class="matches-found">
          <span>234 matches</span> found</p>
      </div>
      <div class="listing-headRight">
        <div class="listing-inline">
          <p>Sort by:</p>
          <div class="selectBox">
            <select>
              <option value="0">Age - Newest</option>
              <option value="1">Age - Newest 1</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="table-container table-responsive">
      <table class="table">
        <tr>
          <th class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </th>
          <th>Age</th>
          <th>Pickup</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Miles</th>
          <th>Weight</th>
          <th>Equipment</th>
          <th>Rate</th>
          <th>Broker</th>
          <th class="center">Price</th>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
        <tr>
          <td class="table-chk center">
            <div class="checkbox">
              <input type="checkbox" />
              <span></span>
            </div>
          </td>
          <td>27m</td>
          <td>Jun 25</td>
          <td>Aguila, AZ</td>
          <td>Upper Marlboro, MD</td>
          <td>1259</td>
          <td>43500 lbs</td>
          <td>Reefer</td>
          <td>$3/mi</td>
          <td>North Star Transp…</td>
          <td class="center">-</td>
        </tr>
      </table>
      <div class="pager">
        <a href="javascript:void(0)" class="prev-page"><i class="arrow gray left-arrow"></i></a>
        <a href="javascript:void(0)" class="active">1</a>
        <a href="javascript:void(0)">2</a>
        <a href="javascript:void(0)">3</a>
        <a href="javascript:void(0)">4</a>
        <a href="javascript:void(0)" class="-more">...</a>
        <a href="javascript:void(0)">20</a>
        <a href="javascript:void(0)" class="next-page"><i class="arrow gray right-arrow"></i></a>
      </div>
    </div>

  </div>
</div>