<div class="profile">
  <h4 class="title">Profile</h4>
  <div class="snowBlock fullHeight">
    <div class="flex">
      <div class="flex-left">
        <div class="uploadPhotoContainer">
          <div class="uploadPhoto">

          </div>
          <a href="javascript:void(0)" class="UploadButton">
            Upload Photo
            <input type="file" name="" id="">
          </a>
        </div>
      </div>
      <div class="flex-body flex-body-space">
        <div class="form-block">
          <h5 class="heading">Personal Information</h5>
          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">First Name*</label>
              <input type="text" name="" value="" class="input">
            </div>
            <div class="frm">
              <label for="" class="small-label">Last Name*</label>
              <input type="text" name="" value="" class="input">
            </div>
          </div>

          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">Phone Number 1*</label>
              <div class="inner-inline">
                <div class="inner-frm">
                  <input type="text" name="" value="" class="input input-number">
                </div>
                <div class="inner-frm inner-frm-full">
                  <input type="text" name="" value="" class="input">
                </div>
              </div>
            </div>
            <div class="frm">
              <label for="" class="small-label">Phone Number 2*</label>
              <div class="inner-inline">
                <div class="inner-frm">
                  <input type="text" name="" value="" class="input input-number">
                </div>
                <div class="inner-frm inner-frm-full">
                  <input type="text" name="" value="" class="input">
                </div>
              </div>
            </div>
          </div>

          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">Joining as</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0"></option>
                  <option value="1">Joining as</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
            <div class="frm">
              <label for="" class="small-label">US DOT Number</label>
              <input type="text" name="" value="" class="input">
            </div>
          </div>
        </div>

        <div class="form-block">
          <h5 class="heading">Base Location Information</h5>

          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">City</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0"></option>
                  <option value="1">City</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
            <div class="frm">
              <label for="" class="small-label">State</label>
              <div class="select">
                <select name="" class="input" id="">
                  <option value="0"></option>
                  <option value="1">State</option>
                </select>
                <i class="arrow gray down"></i>
              </div>
            </div>
          </div>

          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">Address Line 1</label>
              <input type="text" name="" value="" class="input">
            </div>
            <div class="frm">
              <label for="" class="small-label">Address Line 2</label>
              <input type="text" name="" value="" class="input">
            </div>
          </div>

          <div class="frm-inline">
            <div class="frm">
              <label for="" class="small-label">Address Line 3</label>
              <input type="text" name="" value="" class="input">
            </div>
            <div class="frm">
              <label for="" class="small-label">Address Line 4</label>
              <input type="text" name="" value="" class="input">
            </div>
          </div>

          <div class="frm-inline">
            <div class="frm frm-full">
              <div class="inner-inline">
                <div class="inner-frm">
                  <label for="" class="small-label">Zip Code</label>
                  <input type="text" name="" value="" class="input input-zip">
                </div>
                <div class="inner-frm inner-frm-full">
                  <label for="" class="small-label">Latitude</label>
                  <input type="text" name="" value="" class="input">
                </div>
                <div class="inner-frm inner-frm-full">
                  <label for="" class="small-label">Longitude</label>
                  <input type="text" name="" value="" class="input">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="frm">
          <button type="button" name="button" class="button">Save the Details</button>
        </div>
      </div>
    </div>
  </div>
</div>