<div class="authContainer">
  <div class="wrap">
    <div class="alert alert-success" *ngIf="signupSuccess" role="alert">
      <!-- <strong>Well done!</strong> You successfully read this important alert message. -->
      {{signupSuccess}}
    </div>
    <h2 class="heading">Hywy
      <span>Haul</span>
    </h2>
    <div class="authFlex">
      <div class="authFlexStart image-overlay">
        <div class="backgroundImage"></div>
        <div class="darkContent">
          <div class="darkContent-inner">
            <h3>Why Sign In with HwyHaul?</h3>
            <p>Connecting Truckers to Shippers - Seamlessly !</p>
            <p>Book Load instantaneously Increase your earnings and get paid within 24 hours</p>
            <p>Spend more time with Family</p>
          </div>
        </div>
      </div>
      <div class="authFlexEnd">
        <div class="form-content">
          <h4 class="title">Sign In</h4>
          <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="frm">
              <label for="" class="label">User Name</label>
              <input type="text" class="input" formControlName="username">
              <div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid " class="help-block">Please enter user name</div>
            </div>
            <div class="frm">
              <label for="" class="label">Password</label>
              <input type="password" class="input" formControlName="password">
              <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid " class="help-block">Please enter password</div>
            </div>
            <div class="frm">
              <!-- <button type="button" name="button" routerLink="/pages/profile" class="full-button">Sign In</button> -->
              <button type="submit" name="button" class="full-button">Sign In</button>
            </div>
            <a href="javascript:void(0)" routerLink="/forgot" class="linkButton">Forgot Password ?</a>
          </form>
          <div class="frm-bottom">
            <p class="medium aligncenter">Don’t have an account?
              <a href="javascript:void(0)" routerLink="/register" class="linkColor">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
