<header class="header">
  <div class="wrapper">
    <div class="navbar">
      <div class="navbar-left">
        <div class="logo">
          <a href="javascript:void(0);">
            <div class="hwyhaul">Hwy <span>Haul</span></div>
          </a>
        </div>
        <nav class="nav">
          <ul class="menu">
            <li>
              <a href="javascript:void(0)">Dashboard</a>
            </li>
            <li>
              <a href="javascript:void(0)" routerLink="/pages/create-load">Create Loads</a>
            </li>
            <li>
              <a href="javascript:void(0)">Loads</a>
            </li>
            <li>
              <a href="javascript:void(0)">Track Load</a>
            </li>
            <li>
              <a href="javascript:void(0)">Financial</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="navbar-right">
        <a href="javascript:void(0);" class="userdropdown" routerLink="/pages/profile">
          <div class="dpProfile">
            <img src="../../../assets/images/avtar.png" alt="">
            <i class="arrow down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>