<div class="load-details">
  <h4 class="title">Load Details</h4>
  <div class="load-details-row">
    <div class="load-information commonShadow">
      <div class="_head">
        <h5 class="heading">
          <i class="fas fa-truck"></i> LOAD INFORMATION</h5>
        <span class="status"> Enroute to Pickup </span>
      </div>
      <div class="map">
        <img src="../../../assets/images/map.png" alt="" />
      </div>
      <div class="_body">
        <div class="_body-header">
          <div class="_body-headerLeft">
            <div>
              
            </div>
          </div>
          <div class="_body-headerRight"></div>
        </div>
      </div>
      <div class="_footer"></div>
    </div>
    <div class="shipper-information commonShadow"></div>
    <div class="rate-details"></div>
  </div>
</div>