<div class="load-details">
  <h4 class="title">Load Details</h4>
  <div class="load-details-row">
    <div class="load-information commonShadow">
      <div class="_head">
        <h5 class="heading">
          <i class="fas fa-truck"></i> LOAD INFORMATION</h5>
        <span class="status"> Enroute to Pickup </span>
      </div>
      <div class="map">
        <img src="../../../assets/images/map.png" alt="" />
      </div>
      <div class="_body">
        <div class="_body-header">
          <div class="_body-headerLeft">
            <small class="small">Origin</small>
            <h6>California, SF</h6>
          </div>
          <div class="_body-headerRight">
            <small class="small">Destination</small>
            <h6>Indiana, CH</h6>
          </div>
        </div>
        <div class="_body_inner">
          <ul class="inlineList">
            <li>
              <div class="th">Pickup Date</div>
              <div class="td">10/08/2019</div>
            </li>
            <li>
              <div class="th">Pickup Time Range</div>
              <div class="td">2:00pm to 4:00pm</div>
            </li>
            <li>
              <div class="th">Drop Off Time Range</div>
              <div class="td">8:00am to 11:00am</div>
            </li>
            <li>
              <div class="th">Distance</div>
              <div class="td">300 miles</div>
            </li>
            <li>
              <div class="th">Equipment Type</div>
              <div class="td">Reefer</div>
            </li>
            <li>
              <div class="th">Quantity</div>
              <div class="td">1</div>
            </li>
            <li>
              <div class="th">Available Daily</div>
              <div class="td">No</div>
            </li>
            <li>
              <div class="th">TL/LTL</div>
              <div class="td">TL</div>
            </li>
            <li>
              <div class="th">Commodity</div>
              <div class="td">Wine</div>
            </li>
            <li>
              <div class="th">Weight</div>
              <div class="td">300 lb</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="_footer">
        <div class="_body-footerLeft">
          <p>Special Information</p>
        </div>
        <div class="_body-footerRight">
          <p>Special Hygine should be maintained and the temprature should not be more than 35°C</p>
        </div>
      </div>
    </div>
    <div class="shipper-information commonShadow">
      <div class="_head lightBackground">
        <h5 class="heading">
          SHIPPER INFORMATION
        </h5>
      </div>
      <div class="_body">
        <div class="_body_inner">
          <ul class="inlineList">
            <li>
              <div class="th">Load Number</div>
              <div class="td">7896533</div>
            </li>
            <li>
              <div class="th">Shipper Id</div>
              <div class="td">GZYPIF4D</div>
            </li>
            <li>
              <div class="th">Shipper Name</div>
              <div class="td">TLC Company</div>
            </li>
            <li>
              <div class="th">Rating</div>
              <div class="td">300 miles</div>
            </li>
          </ul>
        </div>
        <div class="_body_footer">
          <ul class="inlineList">
            <li>
              <div class="th">Load Number</div>
              <div class="td">7896533</div>
            </li>
            <li>
              <div class="th">Shipper Id</div>
              <div class="td">GZYPIF4D</div>
            </li>
            <li>
              <div class="th">Shipper Name</div>
              <div class="td">TLC Company</div>
            </li>
            <li>
              <div class="th">Rating</div>
              <div class="td">300 miles</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rate-details">
      <div class="rate-header">
        <h5 class="heading white">RATE DETAILS</h5>        
      </div>
      <div class="line"></div>
      <ul class="inlineList">
        <li>
          <div class="th">Rate ($per mile)</div>
          <div class="td">Price</div>
        </li>
        <li>
          <div class="th">Shipper Id</div>
          <div class="td price">$5000</div>
        </li>
      </ul>
    </div>
  </div>
</div>