<div class="authContainer">
  <div class="wrap">
    <h2 class="heading">Hywy<span>Haul</span></h2>
    <div class="authFlex">
      <div class="authFlexStart image-overlay">
        <div class="backgroundImage"></div>
        <div class="darkContent">
          <div class="slick-single">
            <div class="slick-singleItem">
              <h3>Why Register with HwyHaul?</h3>
              <p>Connecting Truckers to Shippers - Seamlessly !</p>
            </div>
            <div class="slick-singleItem">
              <h3>Why Register with HwyHaul?</h3>
              <p>Connecting Truckers to Shippers - Seamlessly !</p>
            </div>
          </div>
        </div>
      </div>
      <div class="authFlexEnd">
        <div class="form-content form-register">
          <form class="form" [formGroup]="registerForm" (ngSubmit)="saveUser()">
            <label for="" class="label">Your Information</label>
            <div class="frm-inline">
              <div class="frm">
                <input type="text" class="input" placeholder="First Name" formControlName="firstName">
                <div *ngIf="registerForm.controls['firstName'].touched && !registerForm.controls['firstName'].valid " class="help-block">Please enter first name</div>
              </div>
              <div class="frm">
                <input type="text" class="input" placeholder="Last Name" formControlName="lastName">
                <div *ngIf="registerForm.controls['lastName'].touched && !registerForm.controls['lastName'].valid " class="help-block">Please enter last name</div>
              </div>
              <div class="frm">
                <input type="text" class="input" placeholder="Cell Number" formControlName="phoneNumber">
                <div *ngIf="registerForm.controls['phoneNumber'].touched && !registerForm.controls['phoneNumber'].valid " class="help-block">Please enter phone number</div>
              </div>
              <div class="frm">
                <input type="text" class="input" placeholder="Company Name" formControlName="name">
                <div *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].valid " class="help-block">Please enter company name</div>
              </div>
            </div>
            <label for="" class="label">Account Information</label>
            <div class="frm-inline">
              <div class="frm">
                <input type="text" class="input" placeholder="Email Id" formControlName="email" required>
                <div *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid " class="help-block">Please enter valid email</div>
              </div>
              <div class="frm">
                <input type="password" class="input" placeholder="Password" formControlName="password">
                <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid " class="help-block">Please enter password</div>
              </div>
              <div class="frm frm-full">
                <input type="password" class="input" placeholder="Confirm Password" formControlName="confirm_password">
                <div class="help-block" *ngIf="registerForm.controls['confirm_password'].errors?.MatchPassword && registerForm.controls['confirm_password'].errors?.MatchPassword">Password not match</div>
              </div>
            </div>
            <div class="frm aligncenter">
              <button type="submit" name="button" class="button">Sign Up Now</button>
            </div>
          </form>
          <div class="frm-bottom">
            <p class="medium aligncenter">Already have an account? <a href="javascript:void(0)" routerLink="/login" class="linkColor">Log in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
