<div class="authContainer">
  <div class="wrap">
    <h2 class="heading">Hywy<span>Haul</span></h2>
    <div class="authFlex">
      <div class="authFlexStart image-overlay">
        <div class="backgroundImage"></div>
        <div class="darkContent">
          <div class="slick-single">
            <div class="slick-singleItem">
              <h3>Why Register with HwyHaul?</h3>
              <p>Connecting Truckers to Shippers - Seamlessly !</p>
            </div>
            <div class="slick-singleItem">
              <h3>Why Register with HwyHaul?</h3>
              <p>Connecting Truckers to Shippers - Seamlessly !</p>
            </div>
          </div>
        </div>
      </div>
      <div class="authFlexEnd">
        <div class="form-content form-register">
          <form class="form" action="index.html" method="post">
            <label for="" class="label">Your Information</label>
            <div class="frm-inline">
              <div class="frm">
                <input type="text" name="" value="" class="input" placeholder="First Name">
              </div>
              <div class="frm">
                <input type="text" name="" value="" class="input" placeholder="Last Name">
              </div>
              <div class="frm">
                <input type="text" name="" value="" class="input" placeholder="Cell Number">
              </div>
              <div class="frm">
                <input type="text" name="" value="" class="input" placeholder="US DOT Number">
              </div>
            </div>
            <label for="" class="label">Account Information</label>
            <div class="frm-inline">
              <div class="frm">
                <input type="text" name="" value="" class="input" placeholder="Email Id">
              </div>
              <div class="frm">
                <input type="password" name="" value="" class="input" placeholder="Password">
              </div>
              <div class="frm frm-full">
                <input type="password" name="" value="" class="input" placeholder="Confirm Password">
              </div>
            </div>
            <div class="frm aligncenter">
              <button type="button" name="button" class="button">Sign Up Now</button>
            </div>
          </form>
          <div class="frm-bottom">
            <p class="medium aligncenter">Already have an account? <a href="javascript:void(0)" routerLink="/login" class="linkColor">Log in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>